extends layout

block content
  div(class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4")
    span(class="w3-left" background-color=white) Simple Drum Machine
    span(id="show_tempo" class="w3-right" background-color=white) 
  div(class="w3-row playBar" id="playbar")  
    
    // button(type="submit" id="play" class="w3-col w3-black w3-padding-hor-8" style="width:20%;")
    //   i(class="fa fa-play w3-xxxlarge")
    // button(type="submit" id="pause" class="w3-col w3-black w3-padding-hor-8" style="width:20%;")
    //   i(class="fa fa-pause w3-xxxlarge")  
    // button(type="submit" id="stop" class="w3-col w3-black w3-padding-hor-8" style="width:20%;")
    //   i(class="fa fa-stop w3-xxxlarge") 
    // button(class="w3-col w3-black w3-padding-hor-8" style="width:20%;")
    //   input(id="notes" type="range" min="1" max="4" value="2" step="1")
    // button(class="w3-col w3-black w3-padding-hor-8" style="width:20%;")
    //   input(id="tempo" type="range" min="1" max="500" value="80" step="10")


    
  div(class="w3-main" style="margin-top:43px; margin-bottom:68px")
    div(class="w3-row" id="panel")
      // form(id="KICK")
      //   div(class="w3-container w3-quarter w3-red w3-padding-hor-16")
      //     i(class="fa fa-music w3-xxxlarge" style="margin-right: 10%;")
      //     a(href="#")
      //       i(class="fa fa-volume-up w3-xxxlarge" style="margin-right: 10%;") 
      //     input(type="range" min="0" max="100" value="25" step="5")
      //   div(id="grid" class="w3-rest")
      //     button(class="w3-col m1 w3-center w3-black note" style="width:25%") 
      //     button(class="w3-col m1 w3-center w3-black note" style="width:25%")
      //     button(class="w3-col m1 w3-center w3-black note" style="width:25%") 
      //     button(class="w3-col m1 w3-center w3-black note" style="width:25%") 
    div(id="btmbar")
      button(class="w3-container w3-quarter w3-brown w3-padding-hor-16")
        i(class="fa fa-rotate-left w3-xxxlarge")
      div(class="w3-rest")
         

      